<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Neat.Procedure.Settings.ConnectionString.Master" connectionString="server=(local)\SQLEXPRESS;database=master;Integrated Security=SSPI"/>
    <add name="Neat.Procedure.Settings.ConnectionString.Default" connectionString="server=(local)\SQLEXPRESS;database=NeatProcedureDBTest;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>